

#link{
    color: white;
    text-decoration: none;
}
/* #headerui{
    background-color: #070617;
} */
/*----------This is Header File CSS */
#qmartLogo{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}