

#check1{
    border: 1px solid gray;
    /* width: auto; */
    height: auto;
    margin: 10px;
    padding: 20px;

    /* float: left; */
}

#divimg{
    width: 45%;
    height: 40%;
    /* margin:5px; */
    /* padding: 5px; */
}
#addToCartBtn{
    width: auto;
    height: auto;
}

#myCartDiv{
    height: auto;
    width: auto;
    border: 2px solid lightgray;
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
}

#crossbtn{
    /* text-align: center; */
    float: right;
    text-decoration: none;

}
#slider1div{
    height: 300px;
}